body{
    background-color: #121213;
    font-family: Helvetica;
    color: white;
    text-align: center;
}

input[type=submit], input[type=file]{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3a3a3c;
    border: none;
    border-radius: 15px;
    font-family: Helvetica;
}

input[type=submit]:hover, input[type=file]:hover{
    background-color: #3b3b3b
}
.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    margin:auto;
    max-width: 50%;
    max-height: auto;
}
